<header [class.modoOscuro]="esOscuro" [class.modoClaro]="!esOscuro">
  <h1>Bienvenidos a una web más web de metros</h1>
  <img width="100%" height="200" src="https://www.estambul.es/f/turquia/estambul/guia/metro.jpg" alt="Banner metro">
  <div>
    <label for="Nombre">Nombre</label>
    <input type="text" id="Nombre" name="Nombre">
  </div>
  <div>
    <label for="Edad">Edad</label>
    <input type="text" id="Edad" name="Edad">
  </div>
  <div>
    <label for="Ubicacion">Ubicacion</label>
    <input type="text" id="Ubicacion" name="Ubicacion">
  </div>
  <button (click)="cambiarModo()">Cambiar Tema</button>
</header>
