.modoOscuro{
  background-color: var(--color-fondo-oscuro);
  color: var(--color-texto-oscuro) ;
}
.modoClaro{
  background-color: var(--color-fondo-claro);
  color: var(--color-texto-claro);
}
div{
  margin: 2px;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 1rem;
}
