<footer class="flex-container">

  <div class="ContactLeftSide">
    <!--<h1>{{AboutDescription}}</h1>-->
    <h3>{{AboutExperience}}</h3>
    <p class="description">El Metro se pone a disposición de todos los usuarios de la Oficina de Atención al Cliente para resolver cualquier duda que tenga sobre nuestro servicio. A través de ella podrá hacernos solicitudes de información, presentarnos sus quejas o sugerencias y tramitar sus objetos perdidos.</p>
    <p class="schedule">Horarios: {{Schedule}}</p>
  </div>

  <!--
  <hr>
  -->
  <div class="linea-vertical"></div>

  <div class="ContactRightSide">
    <h3>Datos personales</h3>
    <p>Correo: {{email}}</p>
    <p>900 707 072</p>
    <p>952 061 642</p>
  </div>

</footer>
