h2{
  background-color: var(--title-color);
  width: 90%;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  color: var(--title-text-color);
  margin: 0 auto;
  font-family: var(--primary-font);
}
.productos{
  width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

}

.card{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: 20%;
  height: 25rem;
  font-family: var(--primary-font);
  justify-content: space-around;
  align-items: center;
  background-color: var(--card-color);
}

.card img{
  border-radius: 10px;
  padding: 5px;
}

.card p{
  text-align: center;
  padding: 5px;
}

