<h2>Productos y servicios</h2>
<div class="productos">
  <div class="card">
    <h4>Mapa de líneas</h4>
    <p>Consulta el plano de líneas y paradas</p>
    <img src="../../assets/imagenes/mapa.jpg" alt="">
  </div>
  <div class="card">
        <h4>Venta de billetes</h4>
        <p>Consulta tarifas y modalidades de billete</p>
            <img src="../../assets/imagenes/tickets.jpg" alt="">

  </div>
  <div class="card">
        <h4>Puntos de información</h4>
        <p>Consulta oficinas de información al usuario</p>
        <img src="../../assets/imagenes/punttmb.jpg" alt="">


  </div>

</div>
