/* You can add global styles to this file, and also import other style files */
:root{
<<<<<<< HEAD
    /*Colores modo oscuro*/
        --bg-color: #757272;
        --title-color: tomato;
        --title-text-color: #fff;
        --card-color: #fff;
        --card-text-color: black;
    /*Colores modo claro*/
        --bg-color-claro: #f0f0f0;
        --title-color-claro: #333;
        --title-text-color-claro: #131212;
        --card-color-claro: #4f7cf7;
        --card-text-color-claro: #fff;

    /*Fuentes de letra*/
        --primary-font: 'Nexa', sans-serif;
}

body{
  background-color: var(--bg-color);
}


=======
  --color-fondo-claro: #fff;
    --color-fondo-oscuro: #111;
    --color-texto-claro: #333;
    --color-texto-oscuro: #eee;
    --letra-grande: 1.5rem;
    --letra-normal: 1rem;
}
>>>>>>> 22b8898b41484e52de17e8ef4212b906bac5b6aa
